body {
  margin: 0;
  padding: 0;
  background: url("./media/1.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0, 3);
  max-width: 450px;
}

.container h2 {
  font-size: 2rem;
  color: #00425a;
}

.container .btn {
  padding: 10px 40px;
  border: none;
}

.text {
  margin-top: 10px;
  color: #00425a;
  font-weight: 700;
}

btn:hover {
  box-shadow: rgba(0, 0, 0, 0, 0.3);
}
